# Simple Linear Regression

Step 1 : Apply the data preprocessing over the data

In [9]:
# Importing the libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('Salary_Data.csv')
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

as the data do not have any empty values or missing values.. so we will continue with creating the testing and training set for the data

In [8]:
X = df.iloc[:, :-1].values  #creating array of independent variables
y = df.iloc[:, 1].values  #creating array of dependent variables

In [11]:
# creating the testing and the training set
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)