## Data Preprocessing

It is the step where we perform the following steps -
    - Getting Dataset  
    - Importing the libraries and the dataset  
    - Finding missing values  
    - Encoding categorial data  
    - Split into training and test dataset  
    - Feature Scaling

### Importing the libraries of Pandas and Numpy

In [2]:
import pandas as pd
import numpy as np

Importing the dataset

In [3]:
df = pd.read_csv("../datasets/employees.csv")
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

separate out the independent and dependent variables in the form of arrays

In [13]:
x = df[['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME' , 'EMAIL', 'PHONE_NUMBER', 'JOB_ID' , 'HIRE_DATE','SALARY']]

we have to make the array of independent variables

In [14]:
y = x.values

handling the missing values in the data

In [15]:
from sklearn.impute import SimpleImputer

In [16]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [21]:
imput = imputer.fit(y[:,7:8])

In [24]:
y[:,7:8] = imput.transform(y[:,7:8])

In [25]:
y

array([[198, 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833',
        'SH_CLERK', '21-JUN-07', 2600.0],
       [199, 'Douglas', 'Grant', 'DGRANT', '650.507.9844', 'SH_CLERK',
        '13-JAN-08', 2600.0],
       [200, 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', 'AD_ASST',
        '17-SEP-03', 4400.0],
       [201, 'Michael', 'Hartstein', 'MHARTSTE', '515.123.5555',
        'MK_MAN', '17-FEB-04', 13000.0],
       [202, 'Pat', 'Fay', 'PFAY', '603.123.6666', 'MK_REP', '17-AUG-05',
        6000.0],
       [203, 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', 'HR_REP',
        '07-JUN-02', 6500.0],
       [204, 'Hermann', 'Baer', 'HBAER', '515.123.8888', 'PR_REP',
        '07-JUN-02', 10000.0],
       [205, 'Shelley', 'Higgins', 'SHIGGINS', '515.123.8080', 'AC_MGR',
        '07-JUN-02', 12008.0],
       [206, 'William', 'Gietz', 'WGIETZ', '515.123.8181', 'AC_ACCOUNT',
        '07-JUN-02', 8300.0],
       [100, 'Steven', 'King', 'SKING', '515.123.4567', 'AD_PRES',
        '17-JUN-03', 24000.0],
       [101, 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', 'AD_VP',
        '21-SEP-05', 17000.0],
       [102, 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', 'AD_VP',
        '13-JAN-01', 17000.0],
       [103, 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', 'IT_PROG',
        '03-JAN-06', 9000.0],
       [104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', 'IT_PROG',
        '21-MAY-07', 6000.0],
       [105, 'David', 'Austin', 'DAUSTIN', '590.423.4569', 'IT_PROG',
        '25-JUN-05', 4800.0],
       [106, 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', 'IT_PROG',
        '05-FEB-06', 4800.0],
       [107, 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', 'IT_PROG',
        '07-FEB-07', 4200.0],
       [108, 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', 'FI_MGR',
        '17-AUG-02', 12008.0],
       [109, 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', 'FI_ACCOUNT',
        '16-AUG-02', 9000.0],
       [110, 'John', 'Chen', 'JCHEN', '515.124.4269', 'FI_ACCOUNT',
        '28-SEP-05', 8200.0],
       [111, 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369',
        'FI_ACCOUNT', '30-SEP-05', 7700.0],
       [112, 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469',
        'FI_ACCOUNT', '07-MAR-06', 7800.0],
       [113, 'Luis', 'Popp', 'LPOPP', '515.124.4567', 'FI_ACCOUNT',
        '07-DEC-07', 6900.0],
       [114, 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', 'PU_MAN',
        '07-DEC-02', 11000.0],
       [115, 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', 'PU_CLERK',
        '18-MAY-03', 3100.0],
       [116, 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', 'PU_CLERK',
        '24-DEC-05', 2900.0],
       [117, 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', 'PU_CLERK',
        '24-JUL-05', 2800.0],
       [118, 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', 'PU_CLERK',
        '15-NOV-06', 2600.0],
       [119, 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566',
        'PU_CLERK', '10-AUG-07', 2500.0],
       [120, 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', 'ST_MAN',
        '18-JUL-04', 8000.0],
       [121, 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', 'ST_MAN',
        '10-APR-05', 8200.0],
       [122, 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', 'ST_MAN',
        '01-MAY-03', 7900.0],
       [123, 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', 'ST_MAN',
        '10-OCT-05', 6500.0],
       [124, 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', 'ST_MAN',
        '16-NOV-07', 5800.0],
       [125, 'Julia', 'Nayer', 'JNAYER', '650.124.1214', 'ST_CLERK',
        '16-JUL-05', 3200.0],
       [126, 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224',
        'ST_CLERK', '28-SEP-06', 2700.0],
       [127, 'James', 'Landry', 'JLANDRY', '650.124.1334', 'ST_CLERK',
        '14-JAN-07', 2400.0],
       [128, 'Steven', 'Markle', 'SMARKLE', '650.124.1434', 'ST_CLERK',
        '08-MAR-08', 2200.0],
       [129, 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', 'ST_CLERK',
        '20-AUG-05', 3300.0],
       [130, 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', 'ST_CLERK',
        '30-OCT-05', 2800.0],
       [131, 'James', 'Marlow', 'JAMRLOW', '650.124.7234', 'ST_CLERK',
        '16-FEB-05', 2500.0],
       [132, 'TJ', 'Olson', 'TJOLSON', '650.124.8234', 'ST_CLERK',
        '10-APR-07', 2100.0],
       [133, 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', 'ST_CLERK',
        '14-JUN-04', 3300.0],
       [134, 'Michael', 'Rogers', 'MROGERS', '650.127.1834', 'ST_CLERK',
        '26-AUG-06', 2900.0],
       [135, 'Ki', 'Gee', 'KGEE', '650.127.1734', 'ST_CLERK',
        '12-DEC-07', 2400.0],
       [136, 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634',
        'ST_CLERK', '06-FEB-08', 2200.0],
       [137, 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', 'ST_CLERK',
        '14-JUL-03', 3600.0],
       [138, 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', 'ST_CLERK',
        '26-OCT-05', 3200.0],
       [139, 'John', 'Seo', 'JSEO', '650.121.2019', 'ST_CLERK',
        '12-FEB-06', 2700.0],
       [140, 'Joshua', 'Patel', 'JPATEL', '650.121.1834', 'ST_CLERK',
        '06-APR-06', 2500.0]], dtype=object)