## Data Preprocessing

It is the step where we perform the following steps -
    - Getting Dataset  
    - Importing the libraries and the dataset  
    - Finding missing values  
    - Encoding categorial data  
    - Split into training and test dataset  
    - Feature Scaling

### Importing the libraries of Pandas and Numpy

In [2]:
import pandas as pd
import numpy as np

Importing the dataset

In [3]:
df = pd.read_csv("../datasets/employees.csv")
df.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

separate out the independent and dependent variables in the form of arrays

In [4]:
x = df[['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME' , 'EMAIL', 'PHONE_NUMBER', 'JOB_ID' , 'HIRE_DATE']]

we have to make the array of independent variables

In [6]:
y = x.values

handling the missing values in the data

In [8]:
from sklearn.impute import SimpleImputer

In [10]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')